{% extends 'base.html' %}

{% block head %}

{% endblock head %}
{% block content %}
<nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Xier</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">pesanan</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container pt-5">
    <div class="row">
      <!-- Card 1 -->
      
      {% for i in kantin %}
        <div class="col-md-4">
          <a href="{% url 'kantin:listmenu' i.id %}" class="card-link" style="text-decoration: none;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Kantin - {{i.username}}</h5>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
        
      
    </div>
  </div>
</div>
  
{% endblock content %}