{% extends 'base.html' %}

{% block head %}

{% endblock head %}
{% block content %}
<nav class="navbar shadow navbar-expand-lg navbar-light bg-light shadow-none sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Xier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Pesanan</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <a class="btn btn-danger" href="{% url 'logout' %}" role="button"><i
          class="fa-solid fa-right-from-bracket"></i></a>
      {% endif %}
    </div>
  </div>
</nav>
<div class="p-5">
  <div class="row row-cols-1 ">
    <div class="row mb-4">
      <div class="col-md-8 d-flex flex-row bd-highlight align-items-center">
        <div class="shape-rectangle bd-highlight"
          style="width: 13px; height:28px; background-color: #000; border-radius: 3px"></div>
        <div class="text bd-highlight" style="font-size: 15px; font-weight:600; margin-left: 5px;">{{ kantin }}</div>
      </div>
      <div class="col-md-4 d-flex flex-row justify-content-end align-items-center p-0">
        <a href="{% url 'kantin:cart'  %}" style="text-decoration: none; color: white;" class="btn bg-primary"><i class="fa-solid fa-cart-shopping"></i></a> 
    </div>
    </div>
    {% for i in menu_list %}
    <div class="col-6 col-md-2 mb-2">
      <div class="card" style="width: 15rem;">
        <img src="{{i.image.url}}" style="height: 13rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">Rp. {{i.price}}</p>
          {% if i.stok == "Tersedia" %}
          <form method="post" action="{% url 'kantin:add_to_cart' menu_id=i.id kantin_id=kantin_id %}">
            {% csrf_token %}
            <button class="btn btn-primary col-12 text-white shadow-none" type="submit">Add to Cart</button>
          </form>
          {% else %}
          <button class="btn btn-primary col-12 text-white shadow-none disabled" type="submit">Add to Cart</button>
          {% endif %}
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:6 and not forloop.last %}
  </div>
  <div class="row">
    {% endif %}

    {% endfor %}
  </div>
</div>


{% endblock content %}