{% extends 'base.html' %}

{% block head %}

{% endblock head %}
{% block content %}
<nav class="navbar shadow navbar-expand-lg navbar-light bg-light shadow-none sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Xier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">List Kantin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Pesanan</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <a class="btn btn-danger" href="{% url 'logout' %}" role="button"><i
          class="fa-solid fa-right-from-bracket"></i></a>
      {% endif %}
    </div>
  </div>
</nav>
<div class="p-5">
  
  {% for i in cart %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Nama Kantin</h5>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Status Pesanan: {{Diterima}}</h6>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Nasi Goreng
          <span class="badge bg-primary">2</span>
          <span class="badge bg-success">20000 IDR</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mie Ayam
          <span class="badge bg-primary">1</span>
          <span class="badge bg-success">10000 IDR</span>
        </li>
        <!-- Tambahkan item menu lainnya sesuai kebutuhan -->
      </ul>
      <div class="mt-3">
        <p class="fw-bold">Total Harga: <span class="text-success">30000 IDR</span></p>
      </div>
    </div>
  </div>
  {% endfor %}
    
  
{% endblock content %}